
<!doctype html>
<html>
<head>
<meta content="text/html; charset=gbk" http-equiv="Content-Type" />
<title>尚睿通运维平台 --OP系统</title>
<script src="/js/jquery-1.12.2.min.js"></script>

</head>
<body>
   	 <div class="all">
        <div class="logoNav">
        	<div class="logo">
        		<p class="logo_p">尚睿通运维平台</p>
        	</div>	
	
        	<ul class="nav">

                         <li class="nav_li focus ">
                              <a href="javascript:void(0);" class="nav_a tb" >平台报障<span  class="close" ></span></a>


                            <ul class="detailed">
                                <li>
                                      <a href="tpl_kf_apply.php"  >发起报障</a>
                                        </li>


                                         <li >
                                            <a href="tpl_kf_list.php" >工单列表</a>
                                        </li>
					 <li >
                                            <a href="tpl_kf_pic.php" class="focus">故障统计</a>
                                        </li>
					 <li >
                                            <a href="tpl_kf_pic2.php" >处理统计</a>
                                        </li>
                                          <li >
                                            <a href="tpl_kf_mylist.php" >我的工单</a>
                                        </li>

                                </ul>


                        </li>



		


        		<li class="nav_li" >
        			<a href="javascript:void(0);" class="nav_a sx">上线工单<span ></span></a>
        			<ul class="detailed hidden">
        				<li >
        					<a href="tpl_user_support_apply5.php" >老项目更新申请</a>
        				</li>
					<li><a href="tpl_user_support_apply5-urgent.php" ><font color="red">(紧急)</font>老项目更新申请</a></li>			

        				<li>
        					<a href="tpl_user_support_apply.php"  >新项目部署申请</a>
        				</li>
					 <li><a href="tpl_user_support_apply-urgent.php" > <font color="red">(紧急)</font>新项目部署申请</a></li>

        				
				<li><a href="tpl_user_support_approve.php"  >审核工单</a></li>

					<li>
        					<a href="tpl_user_support_list.php" >工单记录</a>
        				</li>
					

        			</ul>
        		</li>

			   <li class="nav_li">
                                <a href="javascript:void(0);" class="nav_a tb" >运维工单<span ></span></a>


                            <ul class="detailed hidden">
                                <li>
                                      <a href="tpl_op_apply.php"  >操作工单申请</a>
                                        </li>

                                         <li >
                                            <a href="tpl_op_list.php" >我的申请记录</a>
                                        </li>
                                </ul>


                        </li>
			

			 <li class="nav_li"  >
                                <a href="javascript:void(0);" class="nav_a yun">IT支持<span   ></span></a>

                            <ul class="detailed hidden">
                                <li>
                                      <a href="tpl_oa2_apply.php"  >工单申请</a>
                                        </li>

                                         <li >
                                            <a href="tpl_oa2_list.php" >我的IT工单记录</a>
                                        </li>
                                </ul>



                        </li>




        		<li class="nav_li">
        			<a href="javascript:void(0);" class="nav_a yj">直播工单<span  ></span></a>

				<ul class="detailed hidden">
                                        <li >
                                                <a href="tpl_oa_apply1.php" >直播申请</a>
                                        </li>
					<li >
                                                <a href="tpl_oa_apply3.php" >外出申请</a>
                                        </li>
					 <li >
                                                <a href="tpl_oa_apply_runing.php" >我的申请</a>
                                        </li>

				</ul>

        		</li>

	<!--
			<li class="nav_li" >
                                <a href="javascript:void(0);" class="nav_a ui">录课申请<span   ></span></a>
				<ul class="detailed hidden">
				<li>
                                      <a href="tpl_oa_rec1.php" >大演播室</a>
                                        </li>

                                         <li >
                                            <a href="tpl_oa_rec_list.php" >我的录课申请</a>
                                        </li>
				</ul>
	
                        </li>
	-->


			
        	</ul>
        </div>

<div class="content">
            <div class="introduce">
                <p class="platform"></p>
                <p class="personal">
		
                    guolikai@yanxiu.com&nbsp;&nbsp;<a href="/user2/php/logout.php">退出</a>
			
                </p>
            </div>

 
          <link rel="stylesheet" href="css/comm.css" type="text/css"> 
          <link rel="stylesheet" href="css/record_kf_list.css" type="text/css">
	  
	   <script src="/user2/js/kf/kf1.js"></script>
	   <script src="/user2/js/kf/support_list.js"></script>
	   <script src="../src/js/jscal2.js"></script>
        <script src="../src/js/lang/en.js"></script>
        <link rel="stylesheet" type="text/css" href="../src/css/jscal2.css" />
        <link rel="stylesheet" type="text/css" href="../src/css/border-radius.css" />
        <link rel="stylesheet" type="text/css" href="../src/css/steel/steel.css" />

	<script src="/amcharts/new/amcharts/amcharts.js" type="text/javascript"></script>
	<script src="/amcharts/new/amcharts/serial.js" type="text/javascript"></script>
	<script src="/user2/js/kf/kf_pic.js"></script>



	   <div class="con">
                <p class="breadcrumb">
                    <a href="javascript:void(0);">首页 > </a><a href="javascript:void(0);">报障工单 > </a><a href="javascript:void(0);" class="focus">图形统计</a>
                </p>

		<form name="form1" action="tpl_kf_list.php" >
                <div class="member">
                    <div class="top">
                      <div>  <p class="head" style="display: inline-block; float: none;height:40px;line-height:40px" >图形统计</p>		
			<p class="head" style="display: inline-block; float: none;height:40px;line-height:40px" >

			</p>
                	<div>
			时间:<input type="text" id="time1"  placeholder="" value="2016-08-25 12:32:48"  /><button id="ptime1" >...</button>
 	                <input type="text" id="time2"  placeholder="" value="2016-12-20 19:59:49"  /><button id="ptime2" >...</button>

			</div>
			</div>
		       <p class="select" style="width:350px" >
                           <input style="width:180px" type="text" name="search1" id="search1" value="" placeholder="请输入要查找的关键字" /><a href="#" onclick="search_list()"> 查找</a>
        	        </p>
	
		   </div>
			
		
                    <div class="member_con">

			<!-- <table cellpadding="0" cellspacing="0" class="table1" style="table-layout:fixed;word-break:break-all;">
			-->
			
					平台类型:(2016-08-25 12:32:48 ~ 2016-12-20 19:59:49)
					<div id="chartdiv_fault_pic1" style="width:60%; height:400px;"></div>
	
					报障类型: (2016-08-25 12:32:48 ~ 2016-12-20 19:59:49)
					<div id="chartdiv_fault_pic2" style="width:60%; height: 500px;"></div>
	
					故障分类: (2016-08-25 12:32:48 ~ 2016-12-20 19:59:49)
                                        <div id="chartdiv_fault_pic3" style="width:60%; height: 500px;"></div>

					 
	
				


                        <!-- </table> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <script type="text/javascript">//<![CDATA[
      var cal = Calendar.setup({
          min: 20160101,
          onSelect: function(cal) { cal.hide() },
          showTime: 24,
          bottomBar: false
      });
     cal.manageFields("ptime1", "time1", "%Y-%m-%d %k:%M:00");
     cal.manageFields("ptime2", "time2", "%Y-%m-%d %k:%M:00");

   </script>
	
    <script type="text/javascript">
    	$(".nav_li > a").click(function(){
            $(this).parent().siblings().removeClass("focus");
            $(this).parent().siblings().find("span").removeClass("close");
            $(this).parent().siblings().find("ul").addClass("hidden");
            $(this).parent().toggleClass("focus");
            $(this).parent().find("ul").toggleClass("hidden");
            $(this).find("span").toggleClass("close");
        });
        $(".detailed").find("li").click(function(){
            $(".detailed >li").find("a").removeClass("focus");
            $(this).find("a").addClass("focus");
        });
    </script>
</form>
</body>
</html>
