<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel='stylesheet' href='/static/css/common.css'>
</head>
<body>
	<div class='pg-header'>
	    <div class='header-menu'>
	    	<a href='/' class='digg-logo'></a>
	    	<a href='/index/' class='tb active'>全部</a>
	    	<a href='/index/' class='tb'>1024区</a>
	    	<a href='/index/' class='tb'>IT</a>
	    	<a href='/index/' class='tb'>运维</a>
	    </div>
	    <div class='header-search'>
	    	
	    </div>
	</div>
	<div></div>
	<div></div>
</body>
</html>