body{
	margin:0;
}

a {
    text-decoration: none;
}

.pg-header{
	height:44px;
	background-color:#2459a2;
}

.header-menu{
	float:left;
}

.header-search{
	float:right;
}

.digg-logo {
    width: 121px;
    height: 23px;
    background: url(/static/images/logo.png) no-repeat 0 0;
    float: left;
    margin-top: 11px;
}

a.tb {
    color: #c0cddf;
    margin-left: -3px;
    padding: 0 13px 0 16px;
    display: inline-block;
    line-height:44px;
}
a.tb:havor{
    color: #fff;
    background-color: #204982;
}
a.active{
    color: #fff;
    background-color: #204982;
}
